server {
	listen	443 ssl;
	listen	[::]:443 ssl;
	http2	on;

	server_name ${DOMAIN_NAME};

	# SSL Configuration
	ssl_certificate		${SSL_CERT_PATH};
	ssl_certificate_key	${SSL_KEY_PATH};
	ssl_protocols		TLSv1.2 TLSv1.3;

	# Document root
	root	/var/www/html;
	index	index.php;

	location ~ \.php$ {
		fastcgi_pass wordpress:9000;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
		fastcgi_read_timeout 300;
	}
}
